{% extends 'base.html' %} {% block content %} {%load static%}
<!--Historia-->
<div class="historia">
  <div class="container">
    <h2 class="text-center display-2 his">Nuestra Historia</h2>

    <div class="col-6 mx-auto text-center">
      <p class="histexto">
        Onlyflans es una cafetería y pastelería ubicada en el corazón de
        Providencia, que aporta un toque de estilo y sabor en cada bocado de sus
        exquisitos flanes.
      </p>
    </div>

    <div class="row py-5">
      <div class="col-sm-4 mb-3 mb-sm-0">
        <div class="fachadaimg">
          <img
            src="{% static 'assets/img/fachadaonlyflans.jpg' %}"
            width="350"
            alt="fachada"
          />
        </div>
      </div>
      <div class="col-sm-4">
        <div class="">
          <div class="">
            <h3 class="display-8 text-center">Nuestra Herencia</h3>
            <p class="text-center">
              Nuestra historia comienza con el amor por el rico patrimonio y las
              tradiciones culinarias de la región, que inspiran nuestro menú y
              atmósfera.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="fachadaimg">
          <img
            src="{% static 'assets/img/jefa3.jpg' %}"
            width="350"
            alt="fachada"
          />
        </div>
      </div>
    </div>

    <div class="col-6 mx-auto text-start py-3">
      <h3 class="display-8 text-center">En Onlyflans,</h3>
      <p class="text-center">
        Nos enorgullecemos de nuestra versión única de flanes tradicionales,
        cuidadosamente elaborados para que sean tentadores y deliciosos. Desde
        flan japonés hasta flan de vainilla y pasteles hechos a mano, nuestra
        selección seguramente satisfará a los golosos.
      </p>
      <div class="row">

        <div class="col-6 ms-auto text-start py-3">  
      <img
        src="{% static 'assets/img/vitrina4.jpg' %}"
        width="320"
        alt="fachada" 
      /> </div>
      <div class="col-6 ms-auto text-end py-3">
      <img
        src="{% static 'assets/img/trabajadores2.jpg' %}"
        width="320"
        alt="fachada"/> </div>
    </div>


    </div>
  </div>
</div>

<div class="py-5 text-center">
<h3 class="histitulo display-6 text-center py-4 rounded mx-auto d-block">
  Hola <br />
  Soy Ayla
</h3>
<img
src="{% static 'assets/img/jefa5.png' %}"
width="500"
alt="Ayla Jefa"/>
<p class="text-center col-6 mx-auto text-start py-3">
  Conozca a Ayla, la propietaria de Onlyflans y la mente creativa detrás de
  nuestra tienda. Apasionada por crear exquisitos flanes y pasteles, Ayla aporta
  un toque de estilo y sabor a cada uno de sus productos. Su viaje en el mundo
  de la repostería comenzó cuando era joven, aprendiendo las bases y técnicas de
  maestros pasteleros. A medida que creció y perfeccionó sus habilidades, Ayla
  comenzó a darle su propio toque a los flanes tradicionales. Hoy en día, su
  savoir-faire se refleja en cada bocado de Onlyflans. Desde el delicado flan
  japonés hasta el clásico flan de vainilla, todo es una verdadera obra maestra
  que muestra su pasión y creatividad.
</p>
</div>

<!--Marquee infinita-->
<div class="marquee d-block">
  <ul class="marquee__content">
    <li class="marquee__item">&nbsp;Visítanos &bull;</li>
    <li class="marquee__item">&nbsp;Visítanos &bull;</li>
    <li class="marquee__item">&nbsp;Visítanos &bull;</li>
    <li class="marquee__item">&nbsp;Visítanos &bull;</li>
    <li class="marquee__item">&nbsp;Visítanos &bull;</li>
    <li class="marquee__item">&nbsp;Visítanos &bull;</li>
    <li class="marquee__item">&nbsp;Visítanos &bull;</li>
    <li class="marquee__item">&nbsp;Visítanos &bull;</li>
    <li class="marquee__item">&nbsp;Visítanos &bull;</li>
    <li class="marquee__item">&nbsp;Visítanos &bull;</li>

    <li class="marquee__item">&nbsp;Visítanos &bull;</li>
    <li class="marquee__item">&nbsp;Visítanos &bull;</li>
    <li class="marquee__item">&nbsp;Visítanos &bull;</li>
    <li class="marquee__item">&nbsp;Visítanos &bull;</li>
    <li class="marquee__item">&nbsp;Visítanos &bull;</li>
    <li class="marquee__item">&nbsp;Visítanos &bull;</li>
    <li class="marquee__item">&nbsp;Visítanos &bull;</li>
    <li class="marquee__item">&nbsp;Visítanos &bull;</li>
    <li class="marquee__item">&nbsp;Visítanos &bull;</li>
    <li class="marquee__item">&nbsp;Visítanos &bull;</li>
  </ul>
</div>

{% endblock %}
