{% extends 'base.html' %}
{% block content %}
<!--Politica & Privacidad-->
<div class="politica">
    <div class="container">
      <h2 class="text-center display-2 poli">Politica &amp; Privacidad</h2>

      <div class="col-6 mx-auto text-start">
        <p class="politexto">
          Esta Política de Privacidad describe Nuestras políticas y
          procedimientos sobre la recopilación, uso y divulgación de Su
          información cuando utiliza el Servicio y le informa sobre Sus
          derechos de privacidad y cómo la ley lo protege.<br /><br />
          Utilizamos sus datos personales para proporcionar y mejorar el
          Servicio. Al utilizar el Servicio, usted acepta la recopilación y el
          uso de información de acuerdo con esta Política de Privacidad. Esta
          Política de Privacidad se ha creado con la ayuda del Generador de
          Políticas de Privacidad de TermsFeed.
        </p>
      </div>
      <div class="col-6 mx-auto text-start">
        <h3 class="polititulo display-6 py-4">
          Interpretación y<br />
          definiciones
        </h3>
        <h3 class="display-8">Interpretación</h3>
        <p>Las palabras cuya letra inicial está en mayúscula tienen
          significados definidos bajo las siguientes condiciones. Las
          siguientes definiciones tendrán el mismo significado
          independientemente de que aparezcan en singular o en plural.
        </p>
        <h3 class="display-8 ">Definiciones</h3>
        <p class="">
          Para los efectos de esta Política de Privacidad:<br /><br />

          Cuenta significa una cuenta única creada para que Usted acceda a
          nuestro Servicio o partes de nuestro Servicio.<br/>
          Afiliada significa
          una entidad que controla, está controlada por o está bajo control
          común con una parte, donde "control" significa propiedad del 50% o
          más de las acciones, participación accionaria u otros valores con
          derecho a votar para la elección de directores u otra autoridad
          administrativa. .<br/>
           Compañía (denominada “la Compañía”, “Nosotros”,
          “Nos” o “Nuestro” en este Acuerdo) se refiere a Onyflans ltd., 30/1 
          Kenilworth Court, Sir Augustus Bartolo Street, Ta' Xbiex,
          XBX1093. <br/>
          Las cookies son pequeños archivos que un sitio web coloca
          en su computadora, dispositivo móvil o cualquier otro dispositivo y
          que contienen los detalles de su historial de navegación en ese
          sitio web, entre sus muchos usos.<br/>
           País se refiere a: OnlyFlans
          Dispositivo significa cualquier dispositivo que pueda acceder al
          Servicio, como una computadora, un teléfono celular o una tableta
          digital. Datos personales es cualquier información que se relacione
          con un individuo identificado o identificable. El servicio se
          refiere al sitio web. Proveedor de servicios significa cualquier
          persona física o jurídica que procese los datos en nombre de la
          Compañía. Se refiere a empresas de terceros o personas empleadas por
          la Compañía para facilitar el Servicio, proporcionar el Servicio en
          nombre de la Compañía, realizar servicios relacionados con el
          Servicio o ayudar a la Compañía a analizar cómo se utiliza el
          Servicio. Los Datos de uso se refieren a los datos recopilados
          automáticamente, ya sea generados por el uso del Servicio o por la
          propia infraestructura del Servicio (por ejemplo, la duración de una
          visita a una página). Sitio web se refiere a Onlyflans, accesible
          desde onlyflans.com Usted se refiere a la persona que accede o
          utiliza el Servicio, o la empresa u otra entidad legal en nombre de
          la cual dicha persona accede o utiliza el Servicio, según
          corresponda. 
        </p>
      </div>
    </div>
  </div>

  {% endblock %}