
    <!--FOOTER-->
    <footer>
        <div class="boxpie">
          <div class="container">
            <h2 class="py-4 display-5">Bom Apetite</h2>
            <ul>
              <li>
                <a href="{% url 'index' %}" rel="nofollow" title="Ir a página home">Home</a>
              </li>
              <li>
                <a href="{% url 'historia' %}" rel="nofollow" title="Ir a página nuestra historia"
                  >Nuestra Historia</a
                >
              </li>
              <li>
                <a href="{% url 'menu' %}" rel="nofollow" title="Ir a página menu">Menú</a>
              </li>
              <li>
                <a href="{% url 'ubicacion' %}" rel="nofollow" title="Ir a página ubicación ">Ubicación</a>
              </li>
              <li>
                <a href="{% url 'menualternativo' %}" rel="nofollow" title="Ir a página Galería">Galería</a>
              </li>
              <li>
                <a href="{% url 'politicas' %}" rel="nofollow" title="Ir a página politicas"
                  >Politica &amp; Privacidad</a
                >
              </li>
            </ul>
            <a
              href="https://maps.app.goo.gl/NXAkP6rdU62t7rvf7"
              target="_blank"
              rel="noreferrer nofollow noopener"
              class="direccion"
              >Francisco Bilbao 100, Providencia, Región Metropolitana</a
            >
            <a
              href="tel:56223617000"
              rel="noreferrer nofollow noopener"
              title="llamar a Onlyflans"
              >(56) 22 361 7000</a
            >
            <div class="rrss">
              <a
                href="https://www.instagram.com/onlyflanscl/"
                title="Ver instagram da onlyflans"
                target="_blank"
                rel="noreferrer nofollow noopener"
                ><img
                  src="https://www.interago.com.br/App/Sites/347/mc/Icones/instagram.svg"
                  width="30"
                  height="30"
                  alt="icono instagram"
                  loading="lazy"
              /></a>
  
              <a
                href="https://x.com/"
                title="Ver X de onlyflans"
                target="_blank"
                rel="noreferrer nofollow noopener"
                ><img
                  src="https://www.interago.com.br/App/Sites/347/mc/Icones/icone-twitter.svg"
                  width="30"
                  height="30"
                  alt="icono twitter"
                  loading="lazy"
              /></a>
  
              <a
                href="https://www.tiktok.com/"
                title="Ver tiktok de onlyflans"
                target="_blank"
                rel="noreferrer nofollow noopener"
                ><img
                  src="https://www.interago.com.br/App/Sites/347/mc/Icones/icone-tiktok.svg"
                  width="30"
                  height="30"
                  alt="icono tiktok"
                  loading="lazy"
              /></a>
  
              <a
                href="https://pin.it/1scOE6XRy"
                title="Ver pinterest de onlyflans"
                target="_blank"
                rel="noreferrer nofollow noopener"
                ><img
                  src="https://www.interago.com.br/App/Sites/347/mc/Icones/pinterest.svg"
                  width="30"
                  height="30"
                  alt="icono pinterest"
                  loading="lazy"
              /></a>
            </div>
          </div>
          <img
            src="{% static 'assets/img/flanwhite.png'%}"
            alt="flan whitefooter"
            class="flanfooter"
          />
        </div>
        <div class="copyright">
          <div class="container">
            <small>
              © <span id="year">2024</span> Realizado por Katherine Miranda
              <a
                title="github onlyflans"
                href="https://github.com/mckateturry/M6_ONLYFLANS"
                target="_blank"
                >Código en Github</a
              >
            </small>
          </div>
        </div>
      </footer>
  